body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-image: url('../picture/background-side-bar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #fffdfd;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
}

.card a {
    display: block;
    text-decoration: none;
    color: #000;
}

.foto-container {
    transition: opacity 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.foto-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Desain untuk input hasil */
.input-container {
    position: relative;
    margin-bottom: 1rem;
}

.input-container input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    outline: none;
    border-bottom-color: #8b5cf6;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
    color: #555;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -1rem;
    font-size: 0.7rem;
    color: #8b5cf6;
}

/* Gaya untuk hasil perhitungan */
.result-container {
    display: none;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.result-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8b5cf6;
    margin-bottom: 0.5rem;
}

.result-item {
    margin-bottom: 0.2rem;
}

.result-label {
    font-size: 1rem;
    color: #555;
}

.result-value {
    font-size: 1rem;
    color: #555;
    margin-left: 0.5rem;
}

.result-message {
    font-size: 1.2rem;
    color: #8b5cf6;
    margin-top: 1rem;
}

.background {
    background-image: url('../picture/background-bangun-ruang.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}

/* untuk animasi pindah */
.card-body {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.card-body.open {
    height: auto;
}

.card-img-top.hide {
    opacity: 0;
}

/*kskldladal*/
.card {
    margin-bottom: 20px;
    position: relative;

}

.card-img-top {
    transition: transform 0.3s;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card-title {
    position: relative;
    font-size: 18px;
    text-align: center;
}

h4 {
    color: #fff;
    border: 1px solid rgba(252, 248, 248, 0.288);
    background-color: rgba(255, 253, 253, 0.1);
    padding: 8px;
    transition: transform 0.3s;
}

h4:hover {
    transform: scale(1.1);
}

.hide {
    transform: scale(0);
}